<div class="container">
  <div class="row">
    <div class="col-12 content-header">
      <h2 class="content-title">{{postDetail?.title}}</h2>
    </div>
    <div class="col-9 main">
      <mat-card>
        <p class="all-content">{{postDetail?.body_content}}</p>

        <div class="row">
          <div class="col-9">
            <app-blog-get-comments [commentsList]="commentsList"></app-blog-get-comments>
          </div>
        </div>

        <div class="row" *ngIf="postDetail.body_content">
          <div class="col-9 nested-main">
            <app-blog-posts-comments (dispatchAddCommentPost)="loadAddCommentsOfPost($event)"></app-blog-posts-comments>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- <div class="col-3 menu">
      <mat-card></mat-card>
    </div> -->
  </div>
</div>
