<mat-card class='form-card'>
      <form #blogForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput name="full_name" [(ngModel)]="postComments.full_name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" [(ngModel)]="postComments.email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput name="comment_content" [(ngModel)]="postComments.comment_content"></textarea>
      </mat-form-field>
      <button type="submit" mat-stroked-button (click)="loadAddCommentsOfPost()">Submit</button>
    </form>
    </mat-card>




