<div class="card-list">
  <mat-card class="post-list-card" *ngFor="let posts of postListByCategory | paginate: config">
    <mat-card-header>
      <mat-card-title matTooltip="{{posts.title}}">{{ (posts.title.length > 30) ? (posts.title|
        slice:0:50)+'..':(posts.title) }}</mat-card-title>
      <mat-card-subtitle *ngFor="let category of posts.category" matTooltip="{{category.name}}">{{category.name}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/dguivhovs/{{posts.post_image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ (posts.body_content.length > 100) ? (posts.body_content| slice:0:200)+'.....':(posts.body_content) }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button class="read-more" (click)="redictToDetail(posts)" matTooltip="Read More">Read More</a>
    </mat-card-actions>
  </mat-card>
</div>
<pagination-controls class="pagination" (pageChange)="pageChange($event)"></pagination-controls>