:host::ng-deep
  .card-list
    display: flex
    flex-wrap: wrap
    margin: 50px 50px

  .post-list-card
    max-width: 400px
    margin: 10px 10px

  .mat-card-header-text
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

  .example-header-image
    background-size: cover

  .mat-card>.mat-card-actions:last-child
    margin-bottom: -8px
    padding-bottom: 0
    display: flex
    justify-content: center
    cursor: pointer

  .mat-paginator
    display: flex
    justify-content: center

  .read-more
    position: absolute
    bottom: 0px
